body {
    background-color: rgb(89, 95, 97);
  }

  header {
      text-align: centergit;
  }
  
  h2 {
    color: rgb(33, 33, 104);
    margin-left: 20px;
  }

  footer {
      background-color: gray;
  }
